*{
    margin: 0;
    padding: 0;
    font-family: "Rubik";
}


.mybtnlogin{
    width: 128px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #4A6EC7;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.mybtnlogin:hover{
    background-color: #0038C2;
}

.fontStyle{

    font-size: 20px;
    font-weight: 550;
    color: #000 !important;
}

.dp2{
    font-size: 18px;
}

.dp2:hover{
    color: #4A6EC7 !important;
}

.border-bottom{
    border-bottom: 3px solid #dee2e6!important;
}

.bg1{
    height: 700px;
    background: url("../images/banner/appointment.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.bg2{
    height: 700px;
    background: url("../images/banner/banner2.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff; 
}

.bg3{
    height: 700px;
    background: url("../images/banner/banner3.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff; 
}

.mybtnBook{
    width: 288px;
    height: 48px;
    border-radius: 8px;
    border: none;
    background-color: #4A6EC7;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}